@require '@style/const.styl'
@require '@style/mixin.styl'

  +b(follow-button)
    display: contents

@media  (max-width: mobile-size)
  +b(follow-button)
    display: grid 
    width: 60%
    align-self: center