@require '@style/const.styl'

.sub
  width: 18vw
  max-width: 160px
  min-height: 295px
  display: flex
  flex-direction: column
  align-items: center
  white-space: normal
  &__img
    width: 96px
  &__name
    font-21()
    color: color-font-light
    text-align: center
  &__lvl
    font-16()
    color: color-font-secondary
  &__price
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 6px
    &_count
      font-16()
      color: color-font-light
    &_period
      font-12()
      color: color-font-secondary
  &__button
    width: 16vw
    max-width: 160px
  &__motivation
    max-width: 16vw
    padding: 12px
    font-12()
    color: color-font-light
    &_part
      max-height: 50px
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
  &__more
    font-12()
    color: color-primary-light-2
    cursor: pointer