@require '@style/const.styl'

.right-navbar
  width: 280px
  position: absolute
  right: 0
  border-radius: 16px 0px 0px 16px
  flex-direction: column
  justify-content: center
  align-items: flex-end
  gap: 10px;
  padding: 8px