// @require '../../style/const.styl'

// .input
//   display: flex
//   flex-direction: column
//   align-items: stretch
//   gap: 5px
//   &__lable
//     sub-font()
//     color: font-dark-color
//   &__error
//     sub-font()
//     color: error-color
//     &_disable
//       visibility: hidden
//     &_enable
//       visibility: visible
//   &__input
//     box-sizing: border-box
//     main-font()
//     color: font-dark-color
//     background: bg-light-color url("../../static/icon/like.svg") no-repeat
//     background-size: 26px 26px
//     background-position-x: calc(100% - 10px)
//     background-position-y: 50%
//     box-shadow: 0px 0px shadow-blur shadow-color
//     border-radius: min-radius
//     border: none
//     height: 40px
//     padding: 0 40px 0 10px
//     &:focus 
//       outline: none;
//     &_error
//       border: 1px solid pink-color;
//       box-shadow: 0px 0px shadow-blur error-shadow-color;
//   &__icon
//     height: 26px
//     weight: 26px
//     position: absolute
//     right: 5%