<lable class="input">
  <span class="input__lable">{{title}}</span>
  <input class="input__input" type="{{type}}" name="{{name}}">
  <span class="input__error input__error_disable">Тут будет ошибка :)</span>
</lable>