@require '@style/const.styl'

.posts-container
  display: flex
  flex-direction: column
  gap: 10px
  &__title-area
    margin-top: 30px
    align-self: center
    display: flex
    flex-direction: row
    align-items: center
    gap: 10px
  &__title
    font-21()
    color: color-font-light
  &__posts-area
    display: flex
    flex-direction: column-reverse
    gap: 5px