@require '@style/const.styl'
@require '@style/mixin.styl'

+b(posts-container)
  display: flex
  flex-direction: column
  gap: 20px
  +e(title-area)
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    gap: 10px
  +e(empty)
    text-align: center
  +e(posts-area)
    display: flex
    flex-direction: column-reverse
    gap: 15px