<div class="posts-container__title-area">
  <span class="posts-container__title">Последние посты</span>
</div>
<div class="posts-container__posts-area"></div>
<div class="glass glass_back_mono posts-container__empty" hidden></div>