<div class="posts-container__title-area">
  <span class="posts-container__title font_big">Последние посты</span>
</div>
<div class="posts-container__posts-area"></div>
<div class="posts-container__empty bg_main">
  <span class="posts-container__empty-text font_regular">{{emptyText}}</span>
</div>