@require '@style/const.styl'
@require '@style/mixin.styl'

+b(posts-container)
  display: flex
  flex-direction: column
  gap: 10px
  width: 100%
  +e(title-area)
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    gap: 10px
  +e(empty)
    padding: 25px 30px
    display: flex
    align-items: center
    gap: 20px
  +e(empty-text)
    text-align: center
    width: 100%
  +e(posts-area)
    display: flex
    flex-direction: column-reverse
    gap: 15px
    width: 100%

@media  (max-width: mobile-size)
  +b(posts-container)
    +e(empty)
      flex-direction: column