@require '@style/const.styl'

.about
  margin-top: 50px
  width: calc(96vw - 640px)
  &__head
    font-27()
    text-align: center
    color: color-font-light
  &__text
    font-16()
    color: color-font-light
    padding: 16px