@require '@style/const.styl'

.button
  position: relative
  box-sizing: border-box
  border: none
  border-radius: 10px
  cursor: pointer
  &__back
    padding: 10px 20px
    &:before 
      content: ""
      position: absolute
      inset: 0
      border-radius: 10px
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
      -webkit-mask-composite: xor
    &_style
      &_primary
        background: linear-gradient(
                                    101.7deg, 
                                    rgba(255, 255, 255, 0.2) 0%, 
                                    rgba(255, 255, 255, 0.2) 21.5%, 
                                    rgba(255, 255, 255, 0.28) 21.51%, 
                                    rgba(255, 255, 255, 0) 45.14%
                                    ), 
                    radial-gradient(
                                    100% 144.66% at 0% 0%, 
                                    color-primary-gradient-1 0%, 
                                    color-primary-gradient-2 100%
                                    )
        box-shadow: 0px 20px 20px -10px color-primary-shadow
        &:before 
          padding: 1px
          background:linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%)    
        &:hover
          box-shadow: none
        &:active
          box-shadow: inset 0px 0px 20px color-primary-dark-2
          &:before
            background: none
      &_outline
        background: none
        &:before 
          padding: 2px
          background:linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%)
        &:hover
          &:before
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%)
        &:active
          &:before
            background: linear-gradient(180deg, rgba(44, 45, 46, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%)
      &_fingers
        background: url('https://s3-alpha-sig.figma.com/img/7361/3ee1/d8285b5aef72c8357d210b2a1f4e820c?Expires=1667779200&Signature=RUFJFjcZbiuSpwZktWTDJPczBTZdECzpafPF~QXtT9lpqNCWshR2Lj-dYVoZ5GV~Oa0wxtoa8yJ7QrPliCnaDvlQDOuNJECsYKyWRM2gAmEUnpLSO2QSIOI6BjftrgGEoDdeGaaPl342QRDvCsSNrrpMgbuF2WLERmoe15Gedb9Oxc~3ndnl0uqBiXYb~7nDNj24GV6m2NNenOc3oecAF~Lu~bdDASYo4FPIMLxzaOp83OwyuRGygjQ1av73X8SJfa798Ti~nrgKqgZmjY3-T7boLSguN~ageWTcQg3~xeJrCWt2k-ox~uVlC2X6W~XhKiZChs8jI2UuseSA4SKV8w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')
        background-repeat: no-repeat
        background-size: cover
        min-height: 100%
        min-width: 100%
        &:before 
          padding: 2px
          box-shadow: inset 0px -4px 2px rgba(0, 0, 0, 0.05), inset 0px 4px 2px rgba(255, 255, 255, 0.25), inset 4px 4px 26px rgba(255, 255, 255, 0.25)
          filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.38))
          backdrop-filter: blur(40px)
        &:hover
          &:before
            background-blend-mode: soft-light;
            box-shadow: none
            backdrop-filter: blur(40px);
        &:active
          &:before
            background-blend-mode: soft-light;
            box-shadow: inset 0px -4px 2px rgba(255, 255, 255, 0.25), inset 4px 8px 4px rgba(100, 100, 100, 0.25), inset 4px 4px 26px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(40px);
  &__text
    font-21()
    color: color-font-light

