@require '@style/const.styl'
@require '@style/mixin.styl'

+b(button)
  display: inline-flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  border: none
  cursor: pointer
  +e(loading)
    position: absolute
    left: calc(calc(50% - 8px))
    top: 7px
    &:after
      content: " "
      position: absolute
      margin: 0
      display: block
      width: 10px
      height: 10px
      border-radius: 50%
      border: 4px solid #fff
      border-color: #fff transparent #fff transparent
      animation: lds-dual-ring 1.2s linear infinite
  +e(back)
    min-width: max-content
    padding: 5px
  +e(icon)
    width: 24px
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%)
  +e(input)
    display: none

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@media  (max-width: mobile-size)
  +b(button)
    +e(icon)
      width: 30px