@require '../../style/const.styl'

.button
  &__back
    background: green-light-color
    border: none
    border-radius: min-radius
    padding: 10px
    &:hover
      background: green-dark-color
    &:active
      opacity: 0.5
  &__text
    main-font()
    color: font-light-color
