@require '@style/const.styl'

.icon-button
  display: inline-flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  border: none
  border-radius: 50%
  position: relative
  cursor: pointer
  &__back
    height: 40px
    width: 40px
    background: none
    border: 2px solid color-secondary
    &:hover
      border: 2px color-primary
    &:active
      border: 2px solid color-secondary
   &__icon
    width: 20px