@require '@style/const.styl'

.profile-mini
  text-decoration: none
  display: flex
  align-items: center
  justify-content: flex-start;
  gap: 10px
  flex-wrap: wrap;
  &__avatar
    &_size
      &_big
        width: 50px
      &_small
        width: 30px
  &__username
    font-16()
    color: color-font-light
    