@require '@style/const.styl'
@require '@style/mixin.styl'

+b(profile-mini)
  text-decoration: none
  display: flex
  align-items: center
  justify-content: flex-start;
  gap: 10px
  flex-wrap: wrap;
  +e(avatar)
    +m(size)
      +m(big)
        width: 50px
      +m(small)
        width: 30px


@media  (max-width: mobile-size)
  +b(profile-mini)
    flex-wrap: nowrap
    word-break: normal