@require '@style/const.styl'

.editor
  display: flex
  justify-content: space-around
  align-items: center
  z-index: 1;
  &__back
    position:fixed
    top:0
    left:0
    width: 100%
    height 100%
    background-color:rgba(0,0,0,0.7)
  &__form
    position: relative
    display: flex
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    gap: 24px;
    width: 40vw
    &:before
      content: ""
      position: absolute
      inset: 0
      z-index: -1
      background-color: rgba(70, 88, 255, 0.1)
      background-image: url('https://s3-alpha-sig.figma.com/img/ca1e/1e28/45436f194410fdd6436f52d8be429bb6?Expires=1667779200&Signature=OrQont9p1yyYY2mhnyIUUlnWCgO2EWbodmdzmNKSgi~LzQ-hahEL0O3PGijuUI3KuJsN4X7PyRr1o~Tp7bEGIyDBlHuTKOOCGzmu1ibk3yTasuPOxKUwJseRs7T6RWeYIQ8fzDoDErFu~UcPvrqcGcD1xsX~Y~uM4pjHB2Ui-VvdMWxXb6R8SDbzQUtdND~Pl4dW~ZVgRPTwyHV5RyvCN031vj~~rS3gauXkMMgbnryrwJ3zOwWOCfJGdxNWrnqFPD6q6GY~VOWF75EiFZioiEB7JsjPecNPzNF6Q0jVgUQxqUpGbMX1Uicv4Vq8zvRgHR11sRacrOm0j52urGu9Eg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')
      background-blend-mode: soft-light, normal
      box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2), inset 0px -4px 2px rgba(0, 0, 0, 0.2), inset 0px 4px 2px rgba(255, 255, 255, 0.12), inset 4px 4px 26px rgba(255, 255, 255, 0.12)
      backdrop-filter: blur(20px)
      background-size: cover
      opacity: 0.6
      border-radius: 20px
  &__header
    font-27()
    text-align: center
    color: color-font-light
  &__btn-area
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
  &__text
    &_back
      display: flex
      flex-direction: row
      gap: 5px
      padding: 10px
      width: 58vw
      max-width: 58vw
      height: 50vh
      max-height: 50vh
      background: linear-gradient(109.46deg, rgba(201, 201, 201, 0.8) 1.57%, rgba(196, 196, 196, 0.1) 100%), linear-gradient(108.87deg, rgba(255, 255, 255, 0.8) 0.66%, rgba(211, 211, 211, 0.1) 99.48%);
      opacity: 0.5
      backdrop-filter: blur(30px)
      border-radius: radius-min 
      position: relative
      box-sizing: border-box
    &_field
      width: 58vw
      max-width: 58vw
      height: 41vh
      max-height: 41vh
      border: none
      background: none
      outline: none
      flex: 1
      font-16()
      color: color-font-light
  &__inputs
    display: contents
  