@require '@style/const.styl'
@require '@style/mixin.styl'

+b(entry-page)
  display: grid
  grid-template-areas:  'logo logo' \
                        'content-area form-area'
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: min-content 1fr
  padding: 20px
  align-content: center
  justify-items: center
  align-items: center
  gap: 10px
  +e(content-area)
    grid-area: content-area
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: min-content
    padding: 20px
  +e(logo)
    grid-area: logo
    zoom: 1.5
  +e(form-area)
    grid-area: form-area
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

@media  (max-width: mobile-size)
  +b(entry-page)
    display: flex
    flex-direction: column
    +e(content-area)
      display: none
    +e(logo)
      zoom: 2.3
