@require '@style/const.styl'

.entry-page
  &__entry-page
    display: grid
    grid-template-areas: 'content-area form-area'
    grid-template-rows: 1fr
    grid-template-columns: repeat(2, 1fr)
    gap: 10px
  &__content-area
    grid-area: content-area
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &__logo
    zoom: 2.5
  &__form-area
    grid-area: form-area
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
