@require '@style/const.styl'
@require '@style/mixin.styl'

+b(subscription-card)
  display: flex
  flex-direction: column
  align-items: center
  white-space: normal
  gap: 5px
  padding: 20px
  +e(back)
    min-width: 180px 
    max-width: 180px
  +e(img)
    width: 80px
    outline-width: 2px !important
  +e(title)
    text-align: center
    height: 44px
  +e(motivation)
    width: 100%
    white-space: pre-wrap
    &_part
      max-height: 50px
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
  +e(more)
    color: color-primary-light
    cursor: pointer
    margin-top: -15px
  +e(btn-area)
    display: contents
  +e(button)
    align-self: stretch
  +e(header)
    display: flex
    flex-direction: column
    align-items: center
  +e(tier)
    color: color-font-secondary
    display: none

+b(price)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

@media  (max-width: mobile-size)
  +b(subscription-card)
    padding: 15px