@require '@style/const.styl'

.sub
  display: flex
  flex-direction: column
  align-items: center
  white-space: normal
  &__sub
    width: 160px
    min-height: 320px
  &__img
    width: 96px
  &__name
    display: flex
    justify-content: center
    align-items: center
    font-21()
    color: color-font
    text-align: center
    min-height: 50px
  &__lvl
    font-16()
    color: color-font-secondary
  &__button
    &_style
      &_owner
        border: 2px solid rgb(255, 0, 0)
      &_donater
        border: 2px solid rgb(0, 255, 94)
      &_author
        border: 2px solid rgb(209, 250, 5)
  &__motivation
    max-width: 80%
    padding: 12px
    font-12()
    color: color-font
    &_part
      max-height: 50px
      background: linear-gradient(180deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
  &__more
    font-12()
    color: color-primary-light-2
    cursor: pointer

.price
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 6px
  &__count
    font-16()
    color: color-font
  &__period
    font-12()
    color: color-font-secondary