@require '@style/const.styl'

.notice-container
  position: fixed
  bottom: 0
  right: 0
  display: flex
  flex-direction: column-reverse
  gap: 10px
  z-index: 2
  gap: 5px
  padding: 5px
  align-items: stretch
  width: 30vw