@require '@style/const.styl'
@require '@style/mixin.styl'

+b(notice-container)
  display: flex
  flex-direction: column-reverse
  align-items: stretch
  +e(notice)
    position: fixed
    width: 30vw
    gap: 5px
    padding: 5px
    bottom: 0
    right: 0
    z-index: 10
