@require '@style/const.styl'

.notice-container
  display: flex
  flex-direction: column-reverse
  align-items: stretch
  &__notice
    position: fixed
    width: max(30vw, 200px)
    gap: 5px
    padding: 5px
    bottom: 0
    right: 0
    z-index: 2


