@require '@style/const.styl'
@require '@style/mixin.styl'

+b(feed-page)
  display: flex
  flex-direction: column
  align-items: center
  +e(back)
    padding: 20px
    width: 60vw
  +e(content-area)
    max-width: 800px