@require '@style/const.styl'

.feed-page
  display: flex
  flex-direction: column
  &__content-area
    margin-top: 16px
    margin-left: 35vw
    margin-right: 15vw
    width: 50vw

@media  (max-width: 700px)
  .feed-page
    display: flex
    flex-direction: column
    &__content-area
      margin-top: 50px
      margin-left: 0
      margin-right: 0
      width: 100vw