@require '@style/const.styl'

.feed-page
  &__feed-page
    display: grid
    grid-template-areas: 'left content-area right'
    grid-template-rows: 1fr
    grid-template-columns: 1fr 50vw 1fr
    gap: 10px
  &__content-area
    margin-top: 30px
    grid-area: content-area
    display: flex
    flex-direction: column
    gap: 10px