@require '@style/const.styl'

.not-found-page
  &__image
    position: absolute
    width: 30vw
    left: 35vw
    top: 15vh
  &__text
    position: absolute
    left: 35vw
    top: calc(15vh+30vw)
    font-21()
    color: color-font
    text-decoration: none
    cursor: pointer