@require '@style/const.styl'
@require '@style/mixin.styl'

+b(search-page)
  display: flex
  flex-direction: column
  align-items: center
  gap: 20px
  +e(back)
    margin-left: 20vw
    padding: 20px
    width: 60vw
  +e(title)
    text-align: center
  +e(search-form)
    display: flex
    flex-direction: row
    align-items: stretch
    max-width: 800px
    width: 100%
    gap: 10px
  +e(input-field)
    flex-grow: 1
  +e(list-area)
    max-width: 800px
    width: 100%
    text-align: center
    padding: 20px

@media  (max-width: mobile-size)
  +b(search-page)
    +e(back)
      margin-top: 55px
      margin-left: 0
      padding: 0
      width: 95vw