@require '@style/const.styl'

.sub-container
  &__head
    font-21()
    color: color-font
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    gap: 10px
  &__head-btn
      margin-left: 22px
  &__container
    overflow-x: auto
    overflow-y: hidden
    white-space: nowrap
    margin-top: 8px
    width: 100%
    font-21()
    color: color-font
    text-align: center
    &::-webkit-scrollbar
        height: 8px
        &-thumb
          background: color-primary
          border-radius: 16px
        &-track 
          background: none
  &__card
    display: inline-block
    margin-left: 16px
    position: relative
    vertical-align: top