/* Color */
/* Font */
/* Class */
.root {
  background: rgba(0,76,76,0.06);
  display: grid;
  min-height: 100vh;
  gap: 20px;
  grid-template-areas: "sub-header main up" "footer footer footer";
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 1fr min-content;
  margin-top: 80px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0% 20%;
  background: #fff;
  border: 2px solid #008c8c;
  border-radius: 10px;
  padding: 0px 10px;
  gap: 10px;
}
.header__logo {
  font-family: 'Rogalik';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  color: #008c8c;
  text-align: center;
}
.header__button-link {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}
.header__button-link:hover {
  background: rgba(0,76,76,0.06);
}
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
}
.profile__info_size_small {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.profile__info_size_big {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.profile__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  gap: 10px;
  width: 700px;
  height: 50px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border-radius: 10px;
}
.profile__link:hover {
  background: rgba(0,76,76,0.06);
}
.profile__image_circle {
  clip-path: circle();
}
.profile__image_size_big {
  height: 200px;
  width: 200px;
}
.profile__image_size_small {
  height: 50px;
  width: 50px;
}
.profile__image_size_very-small {
  height: 25px;
  width: 25px;
}
.profile__text_align-right {
  text-align: right;
}
.profile__text_type_header {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
  text-align: center;
}
.profile__text_type_main {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000;
  text-align: center;
}
.profile__text_type_sub {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #606060;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.levels {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.level-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.level-block__image {
  height: 150px;
  width: 150px;
}
.level-block__button {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000;
  text-align: center;
  color: #fff;
  background: #008c8c;
  padding: 5px 10px;
  border-radius: 10px;
}
.level-block__button:hover {
  background: #006c6c;
}
.level-block__text_type_header {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
  text-align: center;
}
.level-block__text_type_main {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000;
  text-align: center;
}
.level-block__text_type_sub {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #606060;
}
.level-describtion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.level-describtion__text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000;
  text-align: center;
  text-align: left;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  padding: 10px;
}
.footer__text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #606060;
}
