@require '@style/const.styl'
@require '@style/mixin.styl'

+b(logo)
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  gap: 1px
  cursor: pointer
  +e(icon)
    width: 35px
    margin-left: 1px