@require '@style/const.styl'

.subscriptions-item
  display: flex
  flex-direction: row
  text-decoration: none
  align-items: center
  border-bottom: solid 1px rgba(255, 255, 255, 0.06)
  &__subscriptions-item
    padding: 5px
  &__img
    width: 50px
    height: 50px
  &__username
    font-16()
    color: color-font-light
    margin-left: 20px
  &__tier
    font-16()
    color: color-font-light
    margin-left: auto