@require '@style/const.styl'
@require '@style/mixin.styl'

+b(subscription-link)
  display: flex
  flex-direction: row
  text-decoration: none
  align-items: center
  gap: 10px
  +e(back)
    padding: 5px
    &_with-border
      border-bottom: solid 1px rgba(255, 255, 255, 0.06)
  +e(img)
    height: 50px
  +e(tier)
    flex-grow: 1
    text-align: end