@require '@style/const.styl'
@require '@style/mixin.styl'

+b(subscription-link)
  display: flex
  flex-direction: row
  text-decoration: none
  text-align: left
  align-items: center
  gap: 10px
  +e(back)
    padding: 5px
  +e(img)
    height: 40px
    outline-width: 3px !important
    margin: 3px
  +e(tier)
    flex-grow: 1
    text-align: end