@require '@style/const.styl'
@require '@style/mixin.styl'

+b(profile-info)
  position: fixed
  top: 0
  right: 0
  +e(back)
    height: 100vh
    width: 20vw
    max-width: 300px
    display: flex
    flex-direction: column
    align-items: stretch
    gap: 15px
    padding: 20px
    border-radius: radius-big 0px 0px radius-big
    &:before
      border-radius: radius-big 0px 0px radius-big
  +e(img)
    width: 70%
    align-self: center
  +e(username)
    text-align: center
  +e(info-area)
    flex-grow: 1
  +e(edit-btn)
    position: absolute
    top: 1%
    right: 3%

+b(balance-area)
  display: flex
  flex-direction: column
  align-items: stretch
  gap: 8px
  +e(count)
    color: color-font !important
  +e(text)
    color: color-font !important
      
@media  (max-width: mobile-size)
  +b(profile-info)
    position: relative
    top: auto
    right: auto
    +e(back)
      height: auto
      width: 100vw
      max-width: 100vw
      position: relative
      background: none
      border: none
      backdrop-filter: none
      gap: 14px
      padding: 0
      padding-top: 70px
      &:before
        display: none
    +e(img)
      width: 25vw
    +e(edit-btn)
      top: 70px
    +e(become-author)
      width: 60%
      align-self: center
    +e(balance-area)
      width: 60%
      align-self: center