@require '@style/const.styl'
@require '@style/mixin.styl'

+b(notice-bell)
  display: flex
  align-items: center
  position: relative
  &:hover
    & .notice-bell__btn-area
        position: absolute
        display: flex
        flex-direction: column
        align-items: stretch
        padding: 10px
        gap: 10px
        bottom: 45px
        right: -45px
  +e(icon)
    height: 24px
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%)
  +e(new-notices)
    display: none
    height: 6px
    width: 6px
    position: absolute
    top: 8px
    right: -4px
    background: color-secondary
    border: 1px solid color-secondary
    border-radius: 50%
    +m(active)
      display: block
  +e(btn-area)
    display: none

@media  (max-width: mobile-size)
  +b(notice-bell)
    &:hover
      & .notice-bell__btn-area
          top: 30px
          bottom: auto
          border-radius: 15px