<div class="post-block">
  <img class="post-block__image" src="../static/img/error.jpg" alt="error-image">
  <span class="post-block__text_type_header">{{status}}</span>
  <span class="post-block__text_type_main">{{description}}</span>
</div>