<header class="header">
  <span class="header__logo">ВДонате</span>
  <span class="header__button-link">Лента</span>
  <span class="header__button-link">Поиск авторов</span>
  <span class="header__button-link">Подписки</span>
  <a class="header__button-link" data-link href="{{link}}">Мой профиль</a>
  <a class="header__button-link" data-link href="/auth/login">Мой профиль</a>
</header>