<header class="header">
  <span class="header__logo">VD</span>
  <span class="header__button-link">Лента</span>
  <span class="header__button-link">Поиск авторов</span>
  <span class="header__button-link">Подписки</span>
  <span class="header__button-link">Мой профиль</span>
</header>