@require '@style/const.styl'
@require '@style/mixin.styl'

+b(about)
  +e(about)
    padding: 20px
  +e(header)
    display: flex
    flex-direction: row
  +e(header-title)
    flex-grow: 1
    text-align: center
  +e(text)
     padding: 5px 10px
  +e(form)
    display: flex
    padding: 4px
    gap: 16px
  +e(form-btn)
    //
