@require '@style/const.styl'

.about
  &__about
    margin-top: 10vh
    width: 100%
    padding: 1vh
  &__head
    font-27()
    text-align: center
    color: color-font-light
  &__text
    font-16()
    color: color-font-light
    padding: 1vh