@require '@style/const.styl'
@require '@style/mixin.styl'

+b(input-field)
  display: flex
  flex-direction: column
  gap: 5px
  cursor: pointer
  +m(with-textarea)
    flex-grow: 1
  +e(back)
    display: flex
    flex-direction: row
    gap: 5px
    padding: 5px
    +m(error)
      box-shadow: 0px 0px 10px 0px color-error;
  +e(input)
    width: 100%
    border: none
    background: none
    outline: none
    flex: 1
    color: color-font-input
    &::placeholder
      color: color-font-secondary
    +m(image)
      display: none
  +e(textarea)
    width: 100%
    flex-grow: 1
    color: color-font-input
  +e(icon)
    max-width: icon-size
    max-height: icon-size