@require '@style/const.styl'
@require '@style/mixin.styl'

.signlog
  display: flex
  flex-direction: column
  justify-content: center
  align-items: stretch
  gap: 15px
  +e(back)
    padding: 15px
  +e(submit-area)
    display: flex
    flex-direction: column
    align-items: stretch
    padding: 0px
    gap: 15px
  +e(link)
    text-decoration: none
    align-self: center
    cursor: pointer
    &:hover
      text-decoration: underline
  +e(inputs)
    display: contents
  +e(submit)
    display: contents
  +e(title)
    display: flex
    flex-direction: column