@require '@style/const.styl'

.signlog
  display: flex
  flex-direction: column
  justify-content: center
  align-items: stretch
  gap: 32px
  &__back
    padding: 30px
    position: relative
    background-color: color-content
    border-radius: 20px
  &__title
    font-36()
    color: color-font
  &__greeting
    font-21()
    color: color-font
  &__btn-area
    display: flex
    flex-direction: column
    align-items: stretch
    padding: 0px
    gap: 15px
  &__link
    font-16()
    color: color-font
    text-decoration: none
    align-self: center
    cursor: pointer
    &:hover
      text-decoration: underline
  &__inputs
  &__submit
    display: contents

@media  (max-height: 700px)
  .signlog
    &__back
      width: 100%
      overflow: auto
      height: 100%
      border-radius: 0px