<form class="entry-form entry-form__back">
  <div class="entry-form__title">
    <span class="font_big">{{title}}</span>
    <span class="font_regular">{{greeting}}</span>
  </div>
  <div class="entry-form__inputs"></div>
  <div class="entry-form__submit-area">
    <div class="entry-form__submit"></div>
    <a class="entry-form__link font_regular" data-link="" href="{{link}}">{{textLink}}</a>
  </div>
</form>