<form class="signlog signlog__back">
  <div class="signlog__title">
    <span class="font_big">{{title}}</span>
    <span class="font_regular">{{greeting}}</span>
  </div>
  <div class="signlog__inputs"></div>
  <div class="signlog__submit-area">
    <div class="signlog__submit"></div>
    <a class="signlog__link font_regular" data-link="" href="{{link}}">{{textLink}}</a>
  </div>
</form>