<form class="signlog signlog__back">
  <span class="signlog__title">{{title}}</span>
  <span class="signlog__greeting">{{greeting}}</span>
  <div class="signlog__inputs"></div>
  <div class="signlog__btn-area">
    <div class="signlog__submit"></div>
    <a class="signlog__link" data-link="" href="{{link}}">{{textLink}}</a>
  </div>
</form>