@require '@style/const.styl'

.signlog
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 30px
  gap: 32px
  width: 350px
  &__type
    font-36()
    color: color-font-light
  &__greets
    font-21()
    color: color-font-light
  &__input
    width: 340px
  &__btn-area
    display: flex
    flex-direction: column
    align-items: center
    padding: 0px
    gap: 15px
    &_btn
      width: 340px
    &_link
      font-16()
      color: color-font-light
      text-decoration: none
      cursor: pointer