@require '@style/const.styl'
@require '@style/mixin.styl'

+b(post-action)
  +e(back)
    display: flex
    gap: 4px
    padding: 4px 16px
    align-items: center
  +e(icon)
    width: 16px
    +m(liked)
      filter: invert(100%) sepia(85%) saturate(5703%) hue-rotate(341deg) brightness(90%) contrast(106%);