@require '@style/const.styl'

.content
  margin-left: 300px
  margin-right: 300px
  &__head
    margin-top: 8px
    font-27()
    text-align: center
    color: color-font-light
  &__glass
    margin-top: 16px
    margin-left: 60px
    margin-right: 60px