
color-primary-dark-2 = #082F70
color-primary-dark-1 = #083889
color-primary-light-1 = #458DFF
color-primary-light-2 = #95C1FF
color-primary-light-3 = #CBE0FD



color-font-light = #FFFFFF
color-font-dark = #000000
color-font-secondary = #D2D5DE

radius-min = 10px
radius-max = 20px
/////////////////////
color-primary = #005FF9

color-primary-gradient-1 = rgba(0, 95, 249, 0.8)
color-primary-gradient-2 = rgba(69, 141, 255, 0.8)
color-primary-shadow  = rgba(0, 95, 249, 0.1)

color-error = #ED0A34

color-font = #ffffff
color-font-secondary = rgba(88, 91, 106, 0.5)
color-font-input = #000000

color-bg = linear-gradient(305deg, #22c1c3 0%, #d773f7 54%, #00cdfe 100%)
color-bg-opacity = linear-gradient(305deg, #22c1c355 0%, #d773f755 54%, #00cdfe55 100%)
color-bg-input = rgba(255, 255, 255, 0.5)
color-bg-content = rgba(0, 16, 61, 0.30)

color-avatar-author = color-primary
color-avatar-donater = #FF9E00
color-avatar-subscription = #ffffff

glass-image-1 = '@img/glass-1.png'
glass-image-2 = '@img/glass-2.png'

icon-size = 24px