bg-light-color = #FFFFFF

font-dark-color = #000000
font-gray-color = #606060
font-light-color = #FFFFFF

green-light-color = #249F9C
green-dark-color = #008C8C
pink-color = #F44786

error-color = #FF0000
error-shadow-color = rgba(255, 00, 00, 0.5)

shadow-color = rgba(96, 96, 96, 0.5)
shadow-blur = 40px

min-radius = 10px

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans:wght@300;400;500;600&family=Noto+Serif:wght@700&display=swap')
// FONT
logo-font()
  font-family: 'Caveat', cursive
  font-style: normal
  font-weight: 700
  font-size: 26px
  line-height: 120%

header-font()
  font-family: 'Noto Serif', serif
  font-style: normal
  font-weight: 700
  font-size: 22px
  line-height: 120%

main-header-font()
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 18px
  line-height: 120%

main-font()
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 15px
  line-height: 120%

sub-font()
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 300
  font-size: 12px
  line-height: 120%