radius = 10px
bg-second-color = #004C4C0F
bg-main-color = #FFFFFF
main-color = #008C8C
main-color-hover = #006C6C
content-light-color = #FFFFFF
content-dark-color = #000000
content-sub-color = #606060
