color-primary = #005FF9
color-primary-dark-2 = #082F70
color-primary-dark-1 = #083889
color-primary-light-1 = #458DFF
color-primary-light-2 = #95C1FF
color-primary-light-3 = #CBE0FD
color-font-light = #FFFFFF

color-primary-gradient-1 = rgba(0, 95, 249, 0.8)
color-primary-gradient-2 = rgba(69, 141, 255, 0.8)
color-primary-shadow  = rgba(0, 95, 249, 0.4)

radius-min = 10px
radius-max = 20px

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans:wght@300;400;500;600&family=Noto+Serif:wght@700&display=swap')
// FONT
logo-font()
  font-family: 'Caveat', cursive
  font-style: normal
  font-weight: 700
  font-size: 26px
  line-height: 120%

font-36()
  font-family: 'Noto Serif', serif
  font-style: normal
  font-weight: 700
  font-size: 36px
  line-height: 120%

font-27()
  font-family: 'Noto Serif', serif
  font-style: normal
  font-weight: 600
  font-size: 27px
  line-height: 120%

font-21()
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 21px
  line-height: 120%

font-16()
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 120%

font-12()
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 300
  font-size: 12px
  line-height: 120%

font-16()
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 200
  font-size: 9px
  line-height: 120%