// @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans:wght@300;400;500;600&family=Noto+Serif:wght@700&display=swap')
// // FONT
// logo-text()
//   font-family: 'Caveat', cursive
//   font-style: normal
//   font-weight: 700
//   font-size: 26px
//   line-height: 120%
//   color: main-color

// header-text()
//   font-family: 'Noto Serif', serif
//   font-style: normal
//   font-weight: 700
//   font-size: 22px
//   line-height: 120%
//   color: content-dark-color

// main-header-text()
//   font-family: 'Noto Sans', sans-serif
//   font-style: normal
//   font-weight: 500
//   font-size: 18px
//   line-height: 120%
//   color: content-dark-color

// main-text()
//   font-family: 'Noto Sans', sans-serif
//   font-style: normal
//   font-weight: 400
//   font-size: 15px
//   line-height: 120%
//   color: content-dark-color

// sub-text()
//   font-family: 'Noto Sans', sans-serif
//   font-style: normal
//   font-weight: 300
//   font-size: 12px
//   line-height: 120%
//   color: content-sub-color

// // DISPLAY
// flex-row-center-space()
//   display: flex
//   flex-direction: row
//   align-items: center
//   justify-content: space-between

// flex-row-center-center()
//   display: flex
//   flex-direction: row
//   align-items: center
//   justify-content: center

// flex-row-center()
//   display: flex
//   flex-direction: row
//   align-items: center

// flex-column-center()
//   display: flex
//   flex-direction: column
//   align-items: center

// flex-column-start()
//   display: flex
//   flex-direction: column
//   align-items: flex-start
  
// flex-column-stretch()
//   display: flex
//   flex-direction: column
//   align-items: stretch