// FONT
logo-text()
  font-family: 'Caveat', cursive
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 110%
  color: main-color

header-text()
  font-family: 'Noto Serif', serif
  font-style: normal
  font-weight: 700
  font-size: 17px
  line-height: 110%
  color: content-dark-color

main-text()
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 110%
  color: content-dark-color

sub-text()
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 350
  font-size: 15px
  line-height: 110%
  color: content-sub-color

// DISPLAY
flex-row-center-space()
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

flex-row-center-center()
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

flex-column-center()
  display: flex
  flex-direction: column
  align-items: center

flex-row-center()
  display: flex
  flex-direction: row
  align-items: center

flex-column-start()
  display: flex
  flex-direction: column
  align-items: flex-start
  