@require '@style/const.styl'
  
body
  // background: rgb(34,193,195)
  word-break: break-word
  background: color-background
  min-height: 100vh
  

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.small-screen-notion 
  display: none

@media (max-width: 300px), (max-height: 350px)
  .v-donate 
    display: none
  .small-screen-notion 
    display: flex
    font-21()
    color: color-font-light
    padding: 20vw
    text-align: center
