@require '@style/const.styl'
@require '@style/mixin.styl'

+b(sub-menu)
  display: none
  flex-direction: column
  align-items: stretch
  gap: 10px
  max-height: 50%
  &:hover
    display: flex
  +m(enable)
    display: flex
  +e(back)
    padding: 10px
    position: fixed
    bottom: 80px
    left: 0
    width: 20vw
    max-width: 300px

@media  (max-width: mobile-size)
  +b(sub-menu)
    +e(back)
      bottom: auto
      left: auto
      top: 60px
      right: 0
      width: 100%
      max-width: 100%

// @media (hover: hover) and (pointer: fine) and (max-width: mobile-size)
//   +b(sub-menu)
//     +e(back)
//       top: 60px 
//       border-radius: 15px 0 0 15px