@require '@style/const.styl'

.change-popup
  position: absolute
  top: 20vh
  left: 0
  right: 0
  height: 500px
  width: 450px
  margin: auto
  display: flex
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 24px;
  &__back
    position:fixed
    top:0
    left:0
    width:100vw
    height:100vh
    background-color:rgba(0,0,0,0.7)
  &__head
    font-27()
    text-align: center
    color: color-font-light
  &__input
    width: 400px
  &__btn-container
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
