{{#if isAllowed}}
  <div class="post__content post-content post-content__text font_regular">{{{text}}}</div>
{{else}}
  <div class="post__content post-content post-content__text font_regular post-content_blurred">
    {{{text}}}
    <br>
    Проблема в том, что быть жуликом плохо, только когда поймают. ＼(≧▽≦)／
    Мы тебя поймали! ヾ( ￣O￣)ツ
  </div>
  <div class="post__not-allowed">
    <span class="font_regular">Доступно по подписке {{subscriptionTitle}}</span>
    <button class="post__return-btn button button__back bg_button_outline">
      <span class="button__text font_regular">Перейти к подпискам</span>
    </button>
  </div>
{{/if}}