{{#if isAllowed}}
  <div class="post__content post-content post-content__text font_regular">{{{text}}}</div>
{{else}}
  <div class="post__content post-content post-content__text font_regular post-content_blured">
    {{{text}}}
    <br>
    Проблема в том, что быть жуликом плохо, только когда поймают. ＼(≧▽≦)／
    Мы тебя поймали! ヾ( ￣O￣)ツ
  </div>
  <div class="post__not-allowed font_regular">Доступно по подписке {{subscriptionTitle}}</div>
{{/if}}