@require '@style/const.styl'
@require '@style/mixin.styl'

.post
  display: flex
  flex-direction: column
  gap: 5px
  padding: 30px
  +e(header)
    display: grid
    grid-template-areas: "avatar username edit"\
                          "avatar date edit"
    grid-template-columns: min-content 1fr min-content
    column-gap: 10px
    align-items: center
  +e(header-btn)
    grid-area: edit
  +e(img)
    width: 40px
    outline-width: 3px !important
    margin: 3px
  +e(author-name)
    grid-area: username
    align-self: end
  +e(date-created)
    grid-area: date
    align-self: start
  +e(content)
    padding: 0 10px
  +e(btn-area)
    display: flex
    flex-direction: row
    gap: 8px
    margin-top: 10px
  +e(author-avatar)
    grid-area: avatar
  +e(not-allowed)
    text-align: center
  +e(edit-form)
    flex-grow: 1

.post-edit-form
  display: grid
  grid-template-areas: "tier h1 img"\
                        "btn btn btn"
  grid-template-columns: 1fr repeat(2, min-content)
  gap: 5px
  +e(tier)
    grid-area: tier
  +e(h1)
    grid-area: h1
  +e(img)
    grid-area: img
  +e(btn)
    grid-area: btn

.post-content
  +m(blured)
    filter: blur(10px)
  +e(image)
    max-width: 20vw 
    padding: 2px
  & h1
    font-size: inherit

@media  (max-width: mobile-size)
  .post-content
    +e(image)
      max-width: 70vw 