@require '@style/const.styl'
@require '@style/mixin.styl'

.post
  display: flex
  flex-direction: column
  gap: 5px
  padding: 30px
  position: relative
  +e(header)
    display: grid
    grid-template-areas: "avatar username edit"\
                          "avatar date edit"
    grid-template-columns: min-content 1fr min-content
    column-gap: 10px
    align-items: center
  +e(header-btn)
    grid-area: edit
  +e(img)
    width: 40px
    outline-width: 3px !important
    margin: 3px
  +e(author-name)
    grid-area: username
    align-self: end
    text-decoration: none
  +e(date-created)
    grid-area: date
    align-self: start
  +e(content-area)
    display: contents
  +e(content)
    padding: 0 10px
  +e(btn-area)
    display: flex
    flex-direction: row
    gap: 8px
    margin-top: 10px
  +e(author-avatar)
    grid-area: avatar
  +e(not-allowed)
    position: absolute
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    top: 40%
    left: 0
    right: 0
  +e(return-btn)
    padding: 5px 20px
  +e(edit-form)
    flex-grow: 1

.post-edit-form
  display: grid
  grid-template-areas: "tier h1 img"\
                        "btn btn btn"
  grid-template-columns: 1fr repeat(2, min-content)
  align-items: end
  gap: 15px 5px
  +e(tier)
    grid-area: tier
  +e(h1)
    display: none
    grid-area: h1
    padding-bottom: 6px
  +e(img)
    grid-area: img
    padding-bottom: 6px
  +e(btn)
    grid-area: btn
  +e(tier-text)
    align-self: center
  +e(tier-dropbox)
    flex-grow: 1

.post-content
  +m(blurred)
    filter: blur(5px) brightness(0.35)
  +e(image)
    max-width: 20vw 
    padding: 2px
  & h1
    font-size: inherit

@media  (max-width: mobile-size)
  .post-content
    +e(image)
      max-width: 100%

  .post
    padding: 12px