@require '@style/const.styl'

.post
  &__back
    padding: 30px
    position: relative
    background: rgb(255,255,255)
    border: 2px solid rgb(200, 200, 200)
    border-radius: 20px
    margin: 10px 0px
  &__header
    display: grid
    grid-template-areas: "avatar username edit"\
                          "avatar date edit"
    grid-template-columns: min-content 1fr min-content
    column-gap: 10px
  &__header-btn
    position: absolute
    right: 20px
  &__img
    width: 40px
  &__author-name
    grid-area: username
    align-self: end
    font-16()
    color: color-font
  &__date-created
    grid-area: date
    align-self: start
    font-9()
    color: color-font
  &__content
    padding: 8px
  &__reaction
    display: flex
    flex-direction: row
    gap: 8px
    padding: 8px
  &__author-avatar
    grid-area: avatar
  &__not-allowed
    font-21()
    color: color-font-secondary
    margin-bottom: 10px
    text-align: center

.post-content
  display: flex
  flex-direction: column
  gap: 10px
  &_blured
    filter: blur(10px)
  &__text
    font-16()
    color: color-font
  &__image
    max-width: 30vw 