<div class="post__header">
  <div class="post__author-avatar"></div>
  <span class="post__author-name font_regular">{{username}}</span>
  <span class="post__date-created font_small">{{date}}</span>
</div>
<div class="post__content-area"></div>
<div class="post__btn-area"></div>
<div class="post__comment-area comment-area"></div>
<div class="post__new-comment new-comment"></div>