<div class="post__header">
  <div class="post__author-avatar"></div>
  <span class="post__author-name">{{username}}</span>
  <span class="post__date-created">{{date}}</span>
</div>
<div class="post__content"></div>
<div class="post__reaction"></div>