@require '@style/const.styl'
@require '@style/mixin.styl'

+b(navbar-link)
  display: flex
  flex-direction: row
  align-items: center
  gap: 20px
  text-decoration: none
  flex-wrap: wrap
  +e(back)
    width: 95%
    border-radius: 0px 10px 10px 0px;
    +m(choosen)
      background #000    
      background-repeat: no-repeat
      background-size: cover
      box-shadow: inset 0px -4px 2px rgba(0, 0, 0, 0.05), inset 0px 4px 2px rgba(255, 255, 255, 0.25), inset 4px 4px 26px rgba(255, 255, 255, 0.25)
      filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.38)) invert(25%) sepia(60%) hue-rotate(210deg) brightness(103%) contrast(104%)
  +e(icon)
    width: 20px