@require '@style/const.styl'
@require '@style/mixin.styl'

+b(navbar-link)
  display: flex
  flex-direction: row
  align-items: center
  gap: 20px
  text-decoration: none
  flex-wrap: wrap
  +e(icon)
    width: icon-size
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(8deg) brightness(111%) contrast(101%)

@media  (max-width: mobile-size)
  +b(navbar-link)
    +e(text)
      display: none
    