@require '@style/const.styl'

.left-navbar
  position: fixed
  top: -2px
  left: -2px
  z-index: 1
  &__glass
    border-radius: 0px
    height: calc(100vh + 4px)
    width: 20vw
    max-width: 300px
    min-width: 150px
    position: sticky
    left: 0
    padding: 0px
  &__logo
    padding: 12px 0px 24px 8px
  &__subs-list
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 10px
    max-height: calc(100vh - 320px)
    overflow: auto
    scrollbar-color: color-font-secondary
    scrollbar-width: 4px
    &::-webkit-scrollbar
      width: 4px;
      height: 4px;
      &-thumb
        background: #CBE0FD
        border-radius: 16px;
        box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
      &-track 
        background: none
  &__sub
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding-left: 16px
    gap: 8px
    text-decoration: none
  &__sub-username
    font-16()
    color: color-font
  &__sub-avatar
    width: 30px
  &__down
    position: fixed;
    left: 0
    right: 0
    bottom: 0
    align-items: left 
    padding-bottom: 10px
    gap: 10px

.down
  &__profile
    display: flex
    flex-direction: row
    align-items: center
    padding: 5px 10px
    gap: 10px
    flex-wrap: wrap
    justify-content: space-evenly
    width: 75%
    cursor: pointer
  &__avatar
    width: 50px
  &__username
      font-16()
      color: color-font
  &__menu-btn
    position: fixed
    right: 20px
    bottom: 20px
  &__popup
    flex-direction: column
    align-items: center
    padding: 8px
    gap: 8px
  &__popup-btn
    width: 100%
    min-width: auto

.navbar-hr
  background-color: rgba(#00103D, 0.10)
  border: none
  border-radius: 0px 5px 5px 0px
  &__navbar-hr
    height: 7px
    width: 18vw
    min-width 135px
    max-width: 280px
    border-radius: 0px 5px 5px 0px
    margin: 16px 20px 16px 0px

@media  (max-width: 700px)
  .left-navbar
    &__glass
      border-radius: 0px
      height: 50px
      width: calc(100vw + 4px)
      max-width: calc(100vw + 4px)
      display: flex
      flex-direction: row
      flex-wrap: nowrap
    &__logo
      padding-right: 8px
    &__linkes
      display: flex
      flex-direction: row
      align-items: center
      // width: 200px
    &__subs-list
      align-items: center
      flex-direction: row
      gap: 8px
      width: calc(100vw - 270px)
      max-height: 50px
    &__sub
      padding: 0px
    &__sub-username
      display: none
    &__sub-avatar
      width: 30px
    &__down
      position: fixed
      padding: 0px
      left: auto
      bottom: auto
      right: 52px
      width: 34px

  .down
    &__profile
      width: 34px
    &__avatar
      width: 34px
    &__username
      display: none
    &__menu-btn
      position: fixed
      width: 26px
      height 26px
      right: 16px
      bottom: 12px
    &__popup
      position: fixed
      top: 50px
      right: 5px
      
  .navbar-hr
    display: none
