@require '@style/const.styl'
@require '@style/mixin.styl'

navbar-indent = 20px
navbar-indent-mobile = 10px

+b(navbar)
  position: fixed
  top: 0
  left: 0
  z-index: 1
  +e(back)
    border-radius: 0px radius-big radius-big 0px
    height: 100vh
    width: 20vw
    max-width: 300px
    display: flex
    flex-direction: column
    gap: 10px
    padding: 15px 10px 15px navbar-indent
    &:before
      border-radius: 0px radius-big radius-big 0px
  +e(link)
    padding: 5px 5px 5px navbar-indent
    margin-left: - navbar-indent
  +e(subs-list)
    flex-grow: 1
    overflow: auto
    customScrollbar()
  +e(bottom-area)
    gap: 10px;
    display: flex;
    flex-direction: column;

+b(bottom-area)
  +e(profile)
    display: flex
    flex-direction: row
    align-items: stretch
    justify-content: space-between
    gap: 5px
  +e(sub-menu-btn)
    min-width: auto
  +e(menu-btn)
    height: 100%
    padding: 0 5px
  +e(notice-bell)
    padding-right: 5px

+b(menu-btn)
  display: flex
  align-items: center
  +e(icon)
    height: 24px
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%)

+b(navbar-hr)
  border: none
  height: 3px
  margin: 0
  margin-left: - navbar-indent

// .bottom-area__menu-btn
//   &:hover
//     & .sub-menu
//         display: flex

@media  (max-width: mobile-size)
  +b(navbar)
    +e(back)
      border-radius: 0
      height: 60px
      width: calc(100vw + 4px)
      max-width: calc(100vw + 4px)
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      align-items: center
      padding: 0 10px
      background: color-bg-block-dark
      &:before
        border-radius: 0
    +e(logo)
      zoom: 0.8
      display: flex
      flex-wrap: nowrap
      word-break: normal
      margin-right: 6px
    +e(link)
      padding: 20px 5px 5px 5px;
      margin-left: 0;
      margin-top: -15px;
    +e(sub)
      padding: 0px
    +e(subs-list)
      flex-grow: 1
      overflow-y: hidden
      overflow-x: auto
      customScrollbar(1px, 1px)

  +b(bottom-area)
    +e(profile-mini)
      display: none !important

  +b(menu-btn)
    +e(icon)
      height: icon-size-mobile
      
  +b(navbar-hr)
    display: none