@require '@style/const.styl'
@require '@style/mixin.styl'

+b(navbar)
  position: fixed
  top: 0
  left: 0
  +e(back)
    border-radius: 0px 1rem 1rem 0px
    height: 100vh
    width: 20vw
    max-width: 300px
    display: flex
    flex-direction: column
    gap: 10px
    padding: 10px
    padding-left: navbar-indent
  +e(link)
    padding-left: navbar-indent !important
    margin-left: - navbar-indent
  +e(subs-list)
    flex-grow: 1
    overflow: auto
    &::-webkit-scrollbar
      width: 4px
      background: transparent
      &-thumb
        background: color-scrollbar
        border-radius: 10px
  +e(botton-area)
    gap: 10px;
    display: flex;
    flex-direction: column;

+b(botton-area)
  +e(profile)
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
  +e(sub-menu)
    flex-direction: column
    align-items: stretch
    padding: 10px
    gap: 5px
  +e(sub-menu-btn)
    min-width: auto

+b(navbar-hr)
  background-color: rgba(#00103D, 0.10)
  border: none
  border-radius: 0px 5px 5px 0px
  height: 3px
  margin: 0
  margin-left: - navbar-indent

@media  (max-width: mobile-size)
  +b(navbar)
    z-index: 999
    +e(back)
      border-radius: 0
      height: 50px
      width: calc(100vw + 4px)
      max-width: calc(100vw + 4px)
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      align-items: stretch
      &:before
        border-radius: 0
    +e(logo)
      zoom: 0.8
      display: flex
      flex-wrap: nowrap
      word-break: normal
      margin-right: 6px
      align-self: flex-start
    +e(link)
      padding: 5px !important
      margin-left: 0
      padding-top: navbar-indent !important
      margin-top: - navbar-indent
    +e(sub)
      padding: 0px
    +e(subs-list)
      flex-grow: 1
      overflow-y: hidden
      overflow-x: auto
      &::-webkit-scrollbar
        width: 4px
        height: 4px
        background: transparent
        &-thumb
          background: color-scrollbar
          border-radius: 10px

  +b(botton-area)
    +e(profile-mini)
      display: none !important
    +e(sub-menu)
      position: fixed
      top: 50px
      right: 5px
      
  +b(navbar-hr)
    display: none