@require '@style/const.styl'
@require '@style/mixin.styl'

+b(avatar)
  border-radius: radius-avatar
  aspect-ratio: 1
  object-fit: cover
  +m(style)
    +m(author)
      border: 2px solid color-avatar-author
    +m(donater)
      border: 2px solid color-avatar-donater
    +m(subscription)
      border: 2px solid color-avatar-subscription