@require '@style/const.styl'

.image
  box-sizing: border-box
  border-radius: 40%
  aspect-ratio: 1
  &_style
    &_author
      border: 2px solid color-primary
    &_donater
      border: 2px solid #FF9E00
    &_sub
      border: 2px solid color-font-light