@require '@style/const.styl'

.notice
  &__back
    padding: 5px 10px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    position relative
    gap: 5px
    background-color: color-content
    border: 2px solid color-primary
    border-radius: 10px
  &__msg
    flex: 1
    font-16()
    color: color-font
  // &__btn-close

      