@require '@style/const.styl'
@require '@style/mixin.styl'

.notice
  +e(back)
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    gap: 5px
  +e(msg)
    flex: 1
    padding: 5px
  +e(head)
    width: 5%
    background-color: color-error
    border-radius: 0.5rem 0 0 0.5rem
  +e(btn-close)
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(8deg) brightness(111%) contrast(101%)
      