@require '@style/const.styl'
@require '@style/mixin.styl'

.notice
  +e(back)
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    gap: 5px
  +e(msg)
    flex: 1
    padding: 5px
  +e(head)
    width: 5%
    background-color: color-error
    border-radius: radius-big 0 0 radius-big