@require 'style/*'

*
  box-sizing border-box

a
  text-decoration none

body
  background bg-second-color
  display grid
  min-height 100vh
  gap 20px
  grid-template-areas  "sub-header main up"\
                        "footer footer footer"
  grid-template-columns 1fr 700px 1fr
  grid-template-rows 1fr min-content 
  padding-top 80px 
  margin 0

.navbar
  position fixed 
  top 0
  &__back
    flex-row-center-space()
    width 700px
    gap 10px
    background bg-main-color
    border 2px solid #008C8C
    border-top-style none
    border-radius 0 0 radius radius
    padding 5px 10px
  &__link
    main-text()
    text-align center
    padding 5px 10px
    border-radius radius
    cursor pointer
    &:hover
      background bg-second-color 
  &__profile
    flex-row-center()

.dropdown-menu
  &__button
    background bg-main-color
    border none
    border-radius radius
    padding 5px
    cursor pointer
    &:hover
      background bg-second-color
  &__icon
    width 24px
    height 26px

.logout
  &__button
    background bg-main-color
    border none
    border-radius radius
    padding 5px
    cursor pointer
    &:hover
      background bg-second-color
  &__icon
    width 24px
    height 26px
    fill #c1365f

.logo
  logo-text()

.profile
  flex-row-center()
  gap 5px
  &__image
    clip-path circle()
    height 30px
    width 30px
    object-fit cover
  &__settings
    height 30px

.main
  grid-area main
  flex-column-center()
  padding 0px
  gap 30px

.profile
  &__info
    &_size
      &_small
        flex-row-center()
        padding 0px
        gap 10px
      &_big
        flex-column-center()
        gap 5px
  &__link
    flex-row-center-space()
    padding 0px 15px
    gap 10px
    width 700px
    height 50px
    background bg-main-color
    box-shadow 0px 4px 4px #00000040
    border-radius 10px
    cursor pointer
    &:hover
      background bg-second-color
  &__image
    &_circle
      clip-path circle()
    &_size
      &_big
        height 200px
        width 200px
      &_small
        height 50px
        width 50px
      &_very-small
        height 25px
        width 25px
  &__text
    &_align-right
      text-align right 
    &_type
      &_header
        header-text()
      &_main
        main-text()
      &_sub
        sub-text()

.form
  box-sizing border-box
  width 400px
  &__back
    flex-column-center()
    background bg-main-color
    box-shadow 0px 4px 4px #00000040
    border-radius radius
    align-items stretch
    padding 40px
    gap 20px
  &__text
    text-align center
    &_type
      &_header
        main-header-text()
      &_main
        main-text() 
      &_sub
        sub-text()
  &__button
    cursor pointer
    align-self stretch
    border-radius radius
    border none
    background main-color
    main-text()
    color content-light-color
    padding 10px
    &:hover
      background main-color-hover
  &__link
    main-text()
    text-align center
    padding 5px 10px
    border-radius radius
    cursor pointer
    &:hover
      background bg-second-color 
  &__error-msg
    main-text()
    text-align center
    color error-color
    &_enable
      display: block
    &_disable
      display: none

.input
  flex-column-start()
  gap 5px
  &__lable
    sub-text()
  &__input
    main-text()
    padding 5px 
    align-self stretch
    background bg-second-color
    height 30px
    border-radius radius
    border 1px solid content-sub-color
    &_error
      border-color error-color

.content 
  flex-column-center()
  width 80%
  padding 0px
  gap 10px
  &__title
    header-text()
    margin-top 20px

.levels
  display grid
  grid-template-columns repeat(3, 1fr)
  gap 10px

.level-block
.post-block
  flex-column-center()
  background bg-main-color
  padding 20px
  border-radius radius
  box-shadow 0px 4px 4px #00000040
  gap 5px
  &__text
    &_align
      &_left
        text-align left 
    &_type
      &_header
        header-text()
      &_main
        main-text()
      &_sub
        sub-text()
  &__link
    main-text()
    text-align center
    padding 5px 10px
    border-radius radius
    cursor pointer
    &:hover
      background bg-second-color 

.level-block
  &__image
    height 100px
    object-fit cover
  &__button
    main-text()
    color content-light-color
    background main-color
    padding 5px 10px
    border-radius radius
    cursor pointer
    &:hover
      background bg-second-color

.post-block
  &__image
    height 200px
    object-fit cover

.button
  flex-row-center()
  padding 5px 10px
  border-radius radius
  gap 5px
  cursor pointer
  &:hover
    background bg-second-color
  &__text
    sub-text()
  &__image
    max-height 20px

.sub-block
  width 100%
  flex-row-center()
  gap 20px

.level-description 
  flex-column-start()
  &__text
    main-text()
    text-align left 

.footer
  flex-row-center-center()
  grid-area footer
  padding 10px
  &__text
    sub-text()


