radius = 10px
/* Color */
bg-second-color = rgba(0, 76, 76, 0.06)
bg-main-color = white
main-color = #008C8C
main-color-hover = #006C6C
content-light-color = white
content-dark-color = black
content-sub-color = #606060

/* Font */
logo-text()
  font-family: 'Rogalik'
  font-style: normal
  font-weight: 400
  font-size: 48px
  line-height: 110%
  color: main-color

header-text()
  font-family: 'Manrope', sans-serif
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 33px
  color: content-dark-color

main-text()
  font-family: 'Circe'
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 29px
  color: content-dark-color

sub-text()
  font-family: 'Circe'
  font-style: normal
  font-weight: 350
  font-size: 20px
  line-height: 29px
  color: content-sub-color

flex-row-center-space()
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

flex-row-center-center()
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

flex-column-center()
  display: flex
  flex-direction: column
  align-items: center

flex-row-center()
  display: flex
  flex-direction: row
  align-items: center

flex-column-start()
  display: flex
  flex-direction: column
  align-items: flex-start

/* Class */
.root
  background: bg-second-color
  display: grid
  min-height: 100vh
  gap: 20px
  grid-template-areas:  "sub-header main up"\
                        "footer footer footer"
  grid-template-columns: 1fr 60% 1fr
  grid-template-rows: 1fr min-content 
  margin-top: 80px 

.header
  flex-row-center-space()
  position: fixed 
  top: 0
  left: 0
  right: 0
  margin: 0% 20%
  background: bg-main-color
  border: 2px solid #008C8C
  border-radius: 0 0 radius radius
  padding: 0px 10px
  gap: 10px
  &__logo
    logo-text()
  &__button-link
    main-text()
    text-align: center
    padding: 5px 10px
    border-radius: radius
    &:hover
      background: bg-second-color 

.main
  grid-area: main
  flex-column-center()
  padding: 0px
  gap: 30px

.profile
  &__info
    &_size
      &_small
        flex-row-center()
        padding: 0px
        gap: 10px
      &_big
        flex-column-center()
        gap: 5px
  &__link
    flex-row-center-space()
    padding: 0px 15px
    gap: 10px
    // BUG Size must be flexible
    width: 700px
    height: 50px
    background: bg-main-color
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 10px
    &:hover
      background: bg-second-color
  &__image
    &_circle
      clip-path: circle()
    &_size
      &_big
        height: 200px
        width: 200px
      &_small
        height: 50px
        width: 50px
      &_very-small
        height: 25px
        width: 25px
  &__text
    &_align-right
      text-align: right 
    &_type
      &_header
        header-text()
      &_main
        main-text()
      &_sub
        sub-text()

.content 
  flex-column-center()
  width: 80%
  padding: 0px
  gap: 10px
  &__title
    header-text()
    margin-top: 20px

.levels
  flex-row-center()
  gap: 10px

.block
  flex-column-center()
  background: bg-main-color
  padding: 20px
  border-radius: radius
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  &__image
    width: 50%
  &__button
    main-text()
    color: content-light-color
    background: main-color
    padding: 5px 10px
    border-radius: radius
    &:hover
      background: main-color-hover
  &__text
    &_align
      &_left
        text-align: left 
    &_type
      &_header
        header-text()
      &_main
        main-text()
      &_sub
        sub-text()

.button
  flex-row-center()
  padding: 5px 10px
  border-radius: radius
  gap: 5px
  &&:hover
    background: bg-second-color
  &__text
    sub-text()
  &__image
    max-height: 20px

.sub-block
  width: 100%
  flex-row-center()
  gap: 20px

.level-description 
  flex-column-start()
  &__text
    main-text()
    text-align: left 

.footer
  flex-row-center-center()
  grid-area: footer
  padding: 10px
  &__text
    sub-text()
