@require '@style/const.styl'

.content
  display: flex
  flex-direction: column
  &__content
    margin-left: 23vw
    margin-right: 27vw
    width: 50vw
  &__head
    margin-top: 8px
    font-27()
    text-align: center
    color: color-font-light
  &__glass
    font-16()
    text-align: center
    color: color-font-light
    margin-top: 16px
    margin-left: 60px
    margin-right: 60px