@require '@style/const.styl'
@require '@style/mixin.styl'

+b(profile-page)
  display: flex
  flex-direction: column
  align-items: center
  +e(content)
    width: 60vw
    display: flex
    flex-direction: column
    gap: 20px
    padding: 20px
  +e(header)
    text-align: center
  +e(subscriptions)
    text-align: center
    padding: 20px

@media  (max-width: mobile-size)
  +b(profile-page)
    +e(content)
      width: 100vw