@require '@style/const.styl'

.left-navbar
  border-radius: 0px 16px 16px 0px
  height: 95vh
  width: 280px
  margin-top: 10px
  position: fixed
  &__logo
    padding: 12px 0px 24px 8px
  &__subs-list
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 10px
  &__sub
    font-16()
    color: color-font-light
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding-left: 16px
    gap: 8px
    text-decoration: none

hr
  height: 7px
  width: 250px
  background-color: rgba(#00103D, 0.10)
  border: none
  border-radius: 0px 5px 5px 0px
  margin: 16px 20px 16px 0px