@require '@style/const.styl'

.image
  box-sizing: border-box
  border-radius: 40%
  aspect-ratio: 1
  &__author
    border: 2px solid color-primary
  &__donater
    border: 2px solid #FF9E00
  &__sub
    border: 2px solid color-font-light