@require '@style/const.styl'
@require '@style/mixin.styl'

.btn-area 
  display: flex
  flex-direction: row
  align-items: flex-start
  gap: 15px
  justify-content: space-between
  flex-wrap: wrap
  &__btn
    flex-grow: 1