@require '@style/const.styl'
@require '@style/mixin.styl'

.font
  +m(logo)
    font-family: 'Bad Script', cursive
    font-style: normal
    font-weight: 400
    font-size: 26px
    line-height: 36px
    color: color-font
  +m(small)
    font-family: 'Noto Sans Display', sans-serif
    font-style: normal
    font-weight: 300
    font-size: 12px
    line-height: 17px
    letter-spacing: 0.03em
    color: color-font
  +m(regular)
    font-family: 'Noto Sans Display', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 22px
    letter-spacing: 0.03em
    color: color-font
  +m(big)
    font-family: 'Noto Sans Display', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 21px
    line-height: 29px
    letter-spacing: 0.03em
    color: color-font
